<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatroom</title>
</head>
<body>
  <h1><Chatroom></h1>

  


    <div id="messages">
      <%- include("_messages") %>
    </div>

  <form action="/new-msg" method="post">
    <input type="hidden" name="userId" value="<%= user.id %>" />
    <input type="hidden" name="chatroomId" value="<%= chatroom.id %>" />
    <input type="text" name="text" />
    <button type="submit">Send</button>
  </form>

  <script>
    const ws = new WebSocket("ws://localhost:3000")
    
    ws.addEventListener("message", (ev) => {
      const message = JSON.parse(ev.data)
      document.getElementById("messages").innerHTML = message.html
      document.getElementById("userCount").textContent = `Connected Users: ${message.userCount}`
    })
    
    
  </script>
</body>
</html>