<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div id="chatrooms">
    <%- include("_chatrooms") %>
  </div>

    <form action="/new-chatroom" method="post">
      <input type="text" name="name" />
      <input type="password" name="password" />
      <button type="submit">Create</button>
    </form>

    <h2>Zprávy</h2>


      <% if (user) { %>
        <%= user.username %>
        <a href="/logout">Odhlásit se</a>
      <h3>Join Chatroom:</h3>
      <form action="/join-chatroom" method="post">
        <select name="chatroomId">
          <% for (const chatroom of chatrooms) { %>
            <option value="<%= chatroom.id %>"><%= chatroom.name %></option>
          <% } %>
        </select>
        <button type="submit">Join</button>
      </form>




      <% } else { %>
        <a href="/register">Registrace</a>
        <a href="/login">Login</a>
      <% } %>


      <script>
        const ws = new WebSocket("ws://localhost:3000")
        
        ws.addEventListener("message", (ev) => {
          const message = JSON.parse(ev.data)
          document.getElementById("messages").innerHTML = message.html
        })
        
      </script>
</body>
</html>



